@font-face {
  font-family: "iconfont"; /* Project id 5084314 */
  src: url('//at.alicdn.com/t/c/font_5084314_4t1a1lb5noq.woff2?t=1769609259268') format('woff2'),
       url('//at.alicdn.com/t/c/font_5084314_4t1a1lb5noq.woff?t=1769609259268') format('woff'),
       url('//at.alicdn.com/t/c/font_5084314_4t1a1lb5noq.ttf?t=1769609259268') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pulse-fill:before {
  content: "\e827";
}

.icon-shandianshandianfahuotuikuan:before {
  content: "\e634";
}

.icon-jishiqi:before {
  content: "\e614";
}

.icon-shangchuan:before {
  content: "\e661";
}

.icon-bofang:before {
  content: "\e864";
}

.icon-back-top:before {
  content: "\e64a";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-renlianguanli2:before {
  content: "\e61e";
}

.icon-saomiao:before {
  content: "\e60b";
}

.icon-a-haomapai1:before {
  content: "\e703";
}

.icon-paizhao:before {
  content: "\e660";
}

.icon-xiazai:before {
  content: "\e702";
}

.icon-shijianzhou:before {
  content: "\e69a";
}

.icon-fenxiang:before {
  content: "\e6e6";
}

.icon-saomiaorenlian:before {
  content: "\e711";
}

.icon-sheyingshiguanli:before {
  content: "\e600";
}
