.xz-slider-range {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 120rpx;

  &.xz-slider-range--disabled {
    .slider-bar__inner {
      opacity: 0.35;
    }

    .slider-handle-block {
      cursor: not-allowed;
      opacity: 0.8;
    }
  }

  &__inner {
    flex: 1 1;
    position: relative;
  }

  &__bar {
    flex: 1 1;

    &-bg, &-active {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10000px;
      z-index: 10;
    }

    &-active {
      z-index: 11;
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
  }

  &__block {
    border-radius: 30rpx;
    border: 1px solid #E3E5F100;
    box-shadow: 0 0 3px #ADADAD;
    cursor: pointer;

    &.xz-slider-range__block--decoration {
      &::before, &::after {
        position: absolute;
        content: "";
        width: 6rpx;
        height: 24rpx;
        top: 50%;
        left: 29%;
        transform: translateY(-50%);
        background: #ADADAD;
        border-radius: 4rpx;
      }

      &::after {
        left: initial;
        right: 29%;
      }
    }
  }

  &__hint {
    display: none;
    position: absolute;
    left: 50%;
    font-size: 24rpx;
    transform: translateX(-50%);
    white-space: nowrap;

    &--top {
      display: block;
      top: -38rpx
    }

    &--bottom {
      display: block;
      bottom: -38rpx;
    }

    &--insert {
      display: block;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
